/* For mobile phones: */



.btncolor {
    background-color: #92D50B;
    border-style: solid;
    border-width: 0;
    border-color: rgb(0, 122, 181);
    margin: 1em;
    border-radius: 10px;
    font-size: 5vw;
    padding: 4%;
    color: white;
    width: 75vw;
}

.btnhistory{
    background-color: #92D50B;
    color: white;
    width: 8vh;
    height: 8vh;
    padding: 0;
    margin-top: 1.8vh;
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.601);
}

.font {
    font-family: 'montserrat-bold', sans-serif;
}

.logo{
    width: 110vw;
    height: auto;
    transform: translate(0, +8vh);
}

.mat-icon {
    vertical-align: middle;
    transform: scale(2) translate(-0.18vw, -0.08vh);
}