/* For mobile phones: */



.btncolor {
    background-color: #92D50B;
    border-style: solid;
    border-width: 0;
    border-color: rgb(0, 122, 181);
    margin: 1em;
    border-radius: 0;
    font-size: 5vw;
    padding: 4%;
    color: white;
    width: 75vw;
}

.btnhistory{
    background-color: #92D50B;
    color: white;
    width: 8vh;
    height: 8vh;
    padding: 0;
}

.font {
    font-family: 'montserrat-bold', sans-serif;
}

.logo{
    width: 65vw;
    height: auto;
    transform: translate(0, +8vh);
}

.mat-icon {
    vertical-align: middle;
    transform: scale(2) translate(-0.18vw, -0.08vh);
}

@media only screen and (min-width: 913px) {

    /* For desktops/tablets: */
    button {
        background-color: #85F4FF;
        border-style: solid;
        border-width: 0.11em;
        border-color: rgb(0, 122, 181);
        margin: 1em;
        border-radius: 5rem;
        font-size: 5vh;
        padding: 4%;
    }

    .centered {
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .title {
        font-size: 8vh;
        margin-bottom: 5vh;
    }

    .button1 {
        padding-left: 17%;
        padding-right: 17%;
        padding-top: 5%;
        padding-bottom: 5%;
        transform: translate(-2vw, 0);
    }
}