<div fxfill fxlayout="row"
    style="height: 100%; min-height: 100%; min-width: 100%; width: 100%; flex-direction: column; box-sizing: border-box; display: flex;">
    <div fxflex fxlayout style="flex-direction: column; box-sizing: border-box; display: flex; flex: 1 1 1e-09px;">
        <div fxflex="35" fxlayoutalign="center center"
            style="place-content: center; align-items: center; flex-direction: column; box-sizing: border-box; display: flex; flex: 1 1 100%; max-height: 30%;">
            <div>
                <img src="..\assets\images\powerplay3.png" alt="image" class="logo">
            </div>
        </div>
        <div fxflex="65" fxlayoutalign="center center"
            style="place-content: center; align-items: center; flex-direction: column; box-sizing: border-box; display: flex; flex: 1 1 100%; max-height: 70%;">
            <img class="centered" src="../assets/images/lightning.png" alt="lighting" style="position: fixed; opacity: 35%; height:50%">
            <div fxLayout="column" fxLayoutAlign="center center">
                <div>
                    <button mat-raised-button (click)="onPageChange(3)"
                        class="font btncolor"><b>TRADITIONAL</b></button>
                </div>
                <div>
                    <button mat-raised-button (click)="onPageChange(2)"
                        class="font btncolor"><b>REMOTE</b></button>
                </div>
                <div>
                    <button mat-raised-button (click)="onPageChange(4)"
                        class="font btnhistory"><mat-icon style="font-size: 10vw; transform: translate(-2.5vw, -1vh);">history</mat-icon></button>
                </div>
            </div>
        </div>
    </div>
</div>