p{
    color: white;
}
h1{
    color: white;
}
.centered {
    position: relative;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
}
.home {
    position: fixed; 
    z-index: 100; 
    top:2vh; 
    right: 5vw; 
    color: #92D50B; 
    transform: scale(2);
}
.clear {
    position: fixed; 
    z-index: 100; 
    top:2vh; 
    right: 24vw; 
    color: #92D50B; 
    transform: scale(2);
}
.history-toolbar {
    height: 10vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    text-align: center;
    background-color: rgb(49, 49, 49);
    color: white;
}
.game{
    width: 94vw;
    border: 4px solid #92D50B;
    border-radius: 25px;
    margin-left: 2vw;
    margin-top: 1vh;
    color: white;
    background-color: rgba(0, 0, 0, 0)!important;
}

::ng-deep.mat-expansion-panel-header-title {
    color: white;
}

mat-expansion-panel-header.cdk-touch-focused{
    background-color: rgba(0, 0, 0, 0)!important;
}
.mat-expansion-panel{
    background-color: rgba(0, 0, 0, 0)!important;
}
::ng-deep .mat-expansion-panel .mat-icon {
    fill:#fff;
}
.mat-expansion-panel-header-description,
.mat-expansion-indicator::after {
       color: #fff;
}
.mat-divider{
    margin-bottom: 12px;
    margin-top: 0;
    position: relative;
    height: 4px;
    width: 96vw;
    border-width: 4px;
    border-top-color: #92D50B;
    transform: translate(-7vw, 0);
}
.mat-icon{
    color: #92D50B; 
}
::ng-deep .mat-input-element {
    color: white!important; 
}
::ng-deep .mat-form-field-label {
    color: rgb(182, 182, 182)!important;
}
::ng-deep .mat-form-field-underline {
    background-color: #92D50B!important;
}
::ng-deep .filter  {
    background: green;
}
::ng-deep .filter.mat-focused .mat-form-field-underline {
    display: none;
}
::ng-deep .filter input {
    caret-color: white;
}
.my-snackbar{
    margin: 0 !important;
    position: absolute;
    top: 50vh;
    left: 5vw;
    text-align: center;
}
p{
    font-size: 2vh;
}

::ng-deep .mat-checkbox-ripple .mat-ripple-element {
    background-color: #92D50B !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: rgb(100, 145, 10) !important;
}

::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: rgb(100, 145, 10) !important;
}

::ng-deep .mat-checkbox-frame{
    border-color: white;
}
