<ion-content>
    <div>
         <mat-toolbar class="total">
              Total points: {{this.calcService.total(game)}}
         </mat-toolbar>
         <button style="position: fixed; z-index: 100; top:3vh; right: 3vw;" mat-raised-button (click)="onSave()"
              (click)="onPageChange(1)">home</button>
    </div>

    <p style="margin-top: 10vh;">Freight scored: {{game.freightScored}} <button mat-raised-button
              (click)="onFreightChange(1)">+</button> <button mat-raised-button
              (click)="onFreightChange(-1)">-</button></p>
    <p>Parked:<mat-checkbox (change)="onParkedChange()"></mat-checkbox>
    </p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</ion-content>