.boundingBox{
    background-color: blueviolet;
    width: min(100%, 66vh);
    height: 100%;
}

.centered {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}