<ion-content>
     <img class="centered" src="../assets/images/lightning.png" alt="lighting" style="position: fixed; opacity: 35%; height:50%">
     <div>
          <mat-toolbar class="total">
             <b> <u>Total points: {{this.calcService.total(game)}}</u> </b> 
             <button mat-icon-button class="btnAfterTotal" (click)="onReset()">
                  <mat-icon>replay</mat-icon>
             </button>
             <button mat-icon-button class="btnAfterTotal" (click)="onSave()">
               <mat-icon>save</mat-icon>
          </button>
          </mat-toolbar>
          <button mat-icon-button class="home" (click)="onPageChange(1)">
               <mat-icon>home</mat-icon>
          </button>
     </div>
     <div style="position:absolute; left:7.5vw; top: 12vh; margin-bottom: 5vh;">
          <div class="auto">
               <h2>Autonomous: {{getAutoPoints()}}</h2>
               <p>Robot 1 detection bonus: <mat-checkbox [(ngModel)]="game.robot1.auto.autoDetectionBonus"></mat-checkbox></p>
               <p>Robot 2 detection bonus: <mat-checkbox [(ngModel)]="game.robot2.auto.autoDetectionBonus"></mat-checkbox></p>
               <p>Objective 1: <mat-checkbox [(ngModel)]="game.robot1.auto.objective1"></mat-checkbox></p>
               <section>
                    <p> <span style="margin-right: 2vw;">Robot 1 Parked:</span>
                         <mat-button-toggle-group [(ngModel)]="game.robot1.auto.parked">
                              <mat-button-toggle value="0"><span class="textColor">No</span></mat-button-toggle>
                              <mat-button-toggle value="1"><span class="textColor">Partial</span></mat-button-toggle>
                              <mat-button-toggle value="1.5"><span class="textColor">Full</span></mat-button-toggle>
                         </mat-button-toggle-group>
                    </p>
               </section>
               <section>
                    <p> <span style="margin-right: 2vw;">Robot 2 Parked:</span>
                         <mat-button-toggle-group [(ngModel)]="game.robot2.auto.parked">
                              <mat-button-toggle value="0"><span class="textColor">No</span></mat-button-toggle>
                              <mat-button-toggle value="1"><span class="textColor">Partial</span></mat-button-toggle>
                              <mat-button-toggle value="1.5"><span class="textColor">Full</span></mat-button-toggle>
                         </mat-button-toggle-group>
                    </p>
               </section>
          </div>
          <div class="teleop">
               <h2>Teleop: {{getTeleopPoints()}}</h2>
               <p>Elements scored: {{game.robot1.teleop.elementsScored}}  <button mat-mini-fab
                    (click)="onElementChange(-1)" class="minifab"><mat-icon>remove</mat-icon></button>
                    <button mat-mini-fab
                    (click)="onElementChange(1)" class="minifab"><mat-icon>add</mat-icon></button></p>
          </div>
          <div class="endgame">
               <h2>Endgame: {{getEndgamePoints()}}</h2>
               <p>Objective 1: <mat-checkbox [(ngModel)]="game.robot1.endgame.objective1"></mat-checkbox></p>
               <p>Objective 2: <mat-checkbox [(ngModel)]="game.robot1.endgame.objective2"></mat-checkbox></p>
               <section>
                    <p> <span style="margin-right: 2vw;">Robot 1 Parked:</span>
                         <mat-button-toggle-group [(ngModel)]="game.robot1.endgame.parked">
                              <mat-button-toggle value="0"><span class="textColor">No</span></mat-button-toggle>
                              <mat-button-toggle value="1"><span class="textColor">Partial</span></mat-button-toggle>
                              <mat-button-toggle value="1.5"><span class="textColor">Full</span></mat-button-toggle>
                         </mat-button-toggle-group>
                    </p>
               </section>
               <section>
                    <p> <span style="margin-right: 2vw;">Robot 2 Parked:</span>
                         <mat-button-toggle-group [(ngModel)]="game.robot2.endgame.parked">
                              <mat-button-toggle value="0"><span class="textColor">No</span> </mat-button-toggle>
                              <mat-button-toggle value="1"><span class="textColor">Partial</span></mat-button-toggle>
                              <mat-button-toggle value="1.5"><span class="textColor">Full</span></mat-button-toggle>
                         </mat-button-toggle-group>
                    </p>
               </section>
          </div>
     </div>
</ion-content>