p {
    font-size: 2vh;
    width: 100vw;
    height: fit-content;
}

::ng-deep .mat-checkbox-ripple .mat-ripple-element {
    background-color: #92D50B !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: rgb(100, 145, 10) !important;
}

::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: rgb(100, 145, 10) !important;
}

.total {
    height: 10vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    text-align: center;
}

.home {
    position: fixed; 
    z-index: 100; 
    top:2vh; 
    right: 5vw; 
    color: #92D50B; 
    transform: scale(2);
}

.auto{
    width: 85vw;
    padding: 3vw;
    border: 4px solid #92D50B;
    border-radius: 25px;
}

.teleop{
    border-radius: 25px;
    border: 4px solid #92D50B;
    padding: 3vw;
    width: 85vw;
    margin-top: 3vh;
}

.endgame{
    width: 85vw;
    padding: 3vw;
    border: 4px solid #92D50B;
    border-radius: 25px;
    margin-top: 3vh;
}

.centered {
    position: relative;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
}
.minifab{
    background-color: rgb(138, 198, 18);
    margin-right: 2vw;
    transform: scale(0.9);
}