/* You can add global styles to this file, and also import other style files */

html, body {overflow-x: hidden; --ion-background-color: #202020}
body {font-family: Roboto, "Helvetica Neue", sans-serif;}
@font-face {
    font-family: "montserrat-bold";
    src: local("montserrat-bold"), url(./assets/fonts/Montserrat-Bold.ttf) format("truetype");
}
